body{
    text-align: center;
    background-color: blueviolet;
    color: mistyrose;
    font-family: sans-serif;
}

img{
   max-width: 500px;
    height: auto;
}

.navbar{
    position: absolute;
    height: 0%;
    text-align: left;
}

h1{
    font-style: italic;
}